li {
  list-style-type: none;
}

p, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero {
  position: relative;
  max-width: 480px;
  margin: auto;
  background: #84A178;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    min-width: 1200px;
  }
}

.hero__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero__title {
  display: block;
  max-width: 247px;
  font-family: "Seymour One", sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.2692307692;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__title {
    max-width: 247px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 367px;
    font-size: 38px;
    line-height: 1.2631578947;
  }
}

.hero-items {
  display: flex;
}

.hero-items__list {
  display: flex;
  align-items: center;
  margin-bottom: 236px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-items__list {
    margin-bottom: 176px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-items__list {
    margin-bottom: 332px;
  }
}

.hero-items__button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
  padding: 11px 26px;
  border-radius: 8px;
  border: 2px solid #F8D24E;
  background-color: transparent;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .hero-items__button {
    font-size: 14px;
    line-height: 1.2857142857;
  }
}

.hero-items__link {
  margin-left: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #F8D24E;
}
@media screen and (min-width: 1200px) {
  .hero-items__link {
    font-size: 14px;
    line-height: 1.2142857143;
  }
}

.hero-img_icecream {
  position: absolute;
  bottom: 0;
  left: 83px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-img_icecream {
    left: 408px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-img_icecream {
    left: 652px;
  }
}

.hero-img_dots {
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero-img_varieties {
  display: none;
  position: absolute;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-img_varieties {
    display: block;
    bottom: 12px;
    left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-img_varieties {
    display: block;
    left: 16px;
    bottom: 65px;
  }
}

.hero-description {
  display: none;
  position: absolute;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-description {
    display: block;
    left: 216px;
    bottom: 52px;
    width: 139px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-description {
    display: block;
    left: 257px;
    bottom: 143px;
    width: 200px;
  }
}

.hero-description__item {
  text-align: start;
  margin-bottom: 20px;
}

.hero-description_paragraph {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4166666667;
  color: #FCFCFC;
}

.hero-description__link {
  width: 40px;
  height: 16px;
}

.hero-description__link::before {
  content: "";
  display: flex;
  align-items: flex-start;
  justify-content: first baseline;
  left: 0;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: #FCFCFC;
}

.hero-description__icon {
  display: flex;
  fill: #FCFCFC;
}

.hero-count {
  display: none;
  position: absolute;
  text-align: right;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-count {
    display: block;
    right: 32px;
    bottom: 205px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-count {
    display: block;
    right: 16px;
    bottom: 368px;
  }
}

.hero-count__paragraph {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.2142857143;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 4px;
}
@media screen and (min-width: 1200px) {
  .hero-count__paragraph {
    font-size: 46px;
    line-height: 1.2173913043;
  }
}

.hero-count__items {
  display: flex;
  justify-content: center;
}

.hero-count__categories {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: #FCFCFC;
}
@media screen and (min-width: 1200px) {
  .hero-count__categories {
    font-size: 14px;
    line-height: 1.2142857143;
  }
}/*# sourceMappingURL=main.css.map */