li {
  list-style-type: none;
}

p, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Seymour One", sans-serif;
  --color-bg: #84A178;
  --color-primary: #FCFCFC;
  --color-secondary: #131313;
  --color-accent: #F8D24E;
  --color-address: #D6936D;
  --color-copyright: #ABABAB;
  --color-hover: #0A8817;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --cursor: url("../images/vector.svg"), auto;
}

.hero {
  position: relative;
  max-width: 480px;
  margin: auto;
  background: var(--color-bg);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    min-width: 1200px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0px 16px;
  }
}

.hero__title {
  display: block;
  max-width: 247px;
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.2692307692;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__title {
    max-width: 247px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 367px;
    font-size: 38px;
    line-height: 1.2631578947;
  }
}

.hero-items {
  display: flex;
  z-index: 1;
}
.hero-items__list {
  display: flex;
  align-items: center;
  margin-bottom: 236px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-items__list {
    margin-bottom: 176px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-items__list {
    margin-bottom: 332px;
  }
}
.hero-items__button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
  padding: 11px 26px;
  border-radius: 8px;
  border: 2px solid var(--color-accent);
  background-color: transparent;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .hero-items__button {
    font-size: 14px;
    line-height: 1.2857142857;
  }
}
.hero-items_product {
  z-index: 1;
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--cubic-bezier);
}
.hero-items__button:hover, .hero-items__button:focus {
  border-color: var(--color-hover);
}
.hero-items__button:focus {
  color: var(--color-primary);
}
.hero-items__link {
  z-index: 1;
  cursor: pointer;
  margin-left: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--color-accent);
  transition: background-color var(--transition-duration) var(--cubic-bezier);
}
@media screen and (min-width: 1200px) {
  .hero-items__link {
    font-size: 14px;
    line-height: 1.2142857143;
  }
}
.hero-items__link:hover {
  color: var(--color-hover);
}
.hero-items__link:focus {
  color: var(--color-primary);
}

.hero-img {
  z-index: 0;
}
.hero-img_icecream {
  position: absolute;
  bottom: 0;
  left: 83px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-img_icecream {
    left: 408px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-img_icecream {
    left: 652px;
  }
}
.hero-img_dots {
  position: absolute;
  bottom: 0;
  left: 0;
}
.hero-img_varieties {
  display: none;
  position: absolute;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-img_varieties {
    display: block;
    bottom: 12px;
    left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-img_varieties {
    display: block;
    left: 16px;
    bottom: 65px;
  }
}

.hero-description {
  display: none;
  position: absolute;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-description {
    display: block;
    left: 216px;
    bottom: 24px;
    width: 139px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-description {
    display: block;
    left: 257px;
    bottom: 103px;
    width: 200px;
  }
}
.hero-description__item {
  text-align: start;
}
.hero-description_paragraph {
  font-size: 12px;
  line-height: 1.4166666667;
  margin-bottom: 12px;
  color: var(--color-primary);
}
@media screen and (min-width: 1200px) {
  .hero-description_paragraph {
    margin-bottom: 24px;
  }
}
.hero-description__link {
  width: 40px;
  height: 16px;
}
.hero-description__icon {
  fill: var(--color-primary);
}

.hero-count {
  display: none;
  position: absolute;
  text-align: right;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-count {
    display: block;
    right: 32px;
    bottom: 205px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-count {
    display: block;
    right: 16px;
    bottom: 368px;
  }
}
.hero-count__paragraph {
  font-weight: 900;
  font-size: 28px;
  line-height: 1.2142857143;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-secondary);
  margin-bottom: 4px;
}
@media screen and (min-width: 1200px) {
  .hero-count__paragraph {
    font-size: 46px;
    line-height: 1.2173913043;
  }
}
.hero-count__items {
  display: flex;
  justify-content: center;
}
.hero-count__categories {
  font-size: 8px;
  line-height: 1.25;
  color: var(--color-primary);
}
@media screen and (min-width: 1200px) {
  .hero-count__categories {
    font-size: 14px;
    line-height: 1.2142857143;
  }
}/*# sourceMappingURL=main.css.map */